.navigation2{
    margin-left: -125px;
    width: 1357px;
    height: 70px;
    background-color: rgb(48, 46, 39);
    position: relative;
}

.navigation2 img{
    position: absolute;
    margin-top: -93px;
    margin-left: -20px;
}

.navigation2 h2{
    position: absolute;
    margin-left: 532px;
    margin-top: 15px;
}

.forms{
    margin-top: 50px;
    /* border: 1px solid black; */
}